In [1]:
#imports

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
data = pd.read_csv("df_criado_final.csv")
data.shape

(50390, 23)

In [3]:
data.head()

,Escolaridade,Renda Mensal Informal,Dependentes,Estado Civil,Idade,Conta Poupanca,Conta Salario,Quant Adiantamento Deposito,Qtd Fonte Renda,Cheque Sem Fundo,...,Valor Emprestimo,Multa,Juros,Valor Emprestimo Atualizado,PAGO,Controle,ID,Genero,Data,Estado
0,NaN,NaN,S,2,36,S,N,NaN,NaN,N,...,8174.32,263.25,5844.98,14282.55,1,1,1328587.0,1,2020-01-01,57
1,1.0,1894.5078,N,2,39,S,N,2.0,1.0,S,...,41775.63,1607.29,7652.26,51035.18,1,1,1424254.0,1,2020-01-01,59
2,1.0,NaN,S,2,26,S,N,NaN,1.0,S,...,522940.27,24860.40,319315.62,867116.29,1,1,1438519.0,0,2020-01-01,56
3,NaN,NaN,N,8,23,N,N,NaN,NaN,N,...,1593.00,21472.36,2967.48,26032.84,1,1,1426138.0,1,2020-01-01,56
4,NaN,NaN,S,2,33,S,N,NaN,NaN,N,...,2078.97,19.44,46.35,2144.76,1,1,1474504.0,0,2020-01-01,59

In [4]:
#Missing values para todas as colunas
data.isnull().sum()

Escolaridade                   35775
Renda Mensal Informal          40622
Dependentes                        0
Estado Civil                       0
Idade                              0
Conta Poupanca                     0
Conta Salario                      0
Quant Adiantamento Deposito    28547
Qtd Fonte Renda                37584
Cheque Sem Fundo                   0
Conta Conjunta                     0
Valor Conta Corrente           50390
Valor Conta Poupanca           50390
Valor Emprestimo                   0
Multa                              0
Juros                              0
Valor Emprestimo Atualizado        0
PAGO                               0
Controle                           0
ID                                 0
Genero                             0
Data                               0
Estado                             0
dtype: int64

In [5]:
#Retira colunas vazias
data = data.drop(columns=['Valor Conta Corrente', 'Valor Conta Poupanca'])

In [6]:
#data_pessoal = data.loc[, ['Escolaridade', 'Dependentes', 'Estado Civil', 'Idade', 'ID', 'Genero', 'Estado']]
data.columns

Index(['Escolaridade', 'Renda Mensal Informal', 'Dependentes', 'Estado Civil',
       'Idade', 'Conta Poupanca', 'Conta Salario',
       'Quant Adiantamento Deposito', 'Qtd Fonte Renda', 'Cheque Sem Fundo',
       'Conta Conjunta', 'Valor Emprestimo', 'Multa', 'Juros',
       'Valor Emprestimo Atualizado', 'PAGO', 'Controle', 'ID', 'Genero',
       'Data', 'Estado'],
      dtype='object')

In [9]:
#Função que verifica se todos os valores de uma coluna são iguais, retorno booleano
def is_unique(s):
    a = s.to_numpy() 
    return (a[0] == a).all()

colunas_valores_iguais = []

#Remove colunas redundantes
for i in range(21):
    #print(data.columns[i] + ":\n" + str(is_unique(data[data.columns[i]])))
    if(is_unique(data[data.columns[i]])):
        colunas_valores_iguais.append(data.columns[i])
    
data = data.drop(columns = colunas_valores_iguais)
data.shape

(50390, 19)

In [12]:
#Separa DataSet em quem pagou e não pagou emprestimos passados

bons_pagadores = data.query('PAGO == 1')
mals_pagadores = data.query('PAGO == 0')

print(bons_pagadores.shape, mals_pagadores.shape,(bons_pagadores.shape[0] + mals_pagadores.shape[0]) )

(39853, 19) (10537, 19) 50390

In [137]:
#Verifica se existem pessoas com mais de um emprestimo no nome
dicionario_ID_frequencia = dict(data['ID'].value_counts())
print(len(dicionario_ID_frequencia))

45784

In [138]:
#Salva os ID que tem mais de 1 emprestimo
ID_duplicados = []
for i in range (len(data)):
    if(dicionario_ID_frequencia[data['ID'][i]] > 1):
        ID_duplicados.append(data['ID'][i])
print(len(ID_duplicados))

9212

In [189]:
#Verifica quantos emprestimos recorrentes obtiveram o mesmo resultado para coluna 'PAGO'
def calcula_recorrencia_pagamentos(dados):
    count = 0
    for i in range (len(ID_duplicados)):

        aux = dados[dados.ID == ID_duplicados[i]]
        if(is_unique(aux['PAGO'])):
            count = count + 1
    return int(count*100/len(ID_duplicados))        

todos = calcula_recorrencia_pagamentos(data)


print('Emprestimos recorrentes que tiveram o mesmo valor para `PAGO`: {}%' .format(todos))

Emprestimos recorrentes que tiveram o mesmo valor para `PAGO`: 88%